{% extends 'main/base.html' %}


{% block content %}

<div class="auth layout__box">

    <div class="layout__boxHeader">
         <div class="layout__boxTitle">
            <h3>Password Reset</h3>
        </div>
    </div>

    <div class="layout__body__reset">
        <p>Forgotten password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <div style="text-align: left; margin-top: 3rem;">
            <form class="form" action="" method="post">
                {%csrf_token%}
                {%for field in form%}
                <div class="form__group">
                    <label for="profile_pic">Email</label>
                    {{field}}
                    {{field.errors}}
                </div>
                {%endfor%}


                <div class="form__action">
                    <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
                    <button class="btn btn--main" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}