{% extends 'main/base.html' %}
{%load static%}

{% block content %}

<div class="auth layout__box">

    <div class="layout__boxHeader">
         <div class="layout__boxTitle">
            <h3>Password Reset Sent</h3>
        </div>
    </div>

    <div class="layout__body__reset">
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        <img src="{%static 'images/logo_quest.png'%}" style="width: 150px;">
    </div>
</div>

{% endblock %}