{% extends 'main/base.html' %}
{%load static%}

{% block content %}

<div class="auth layout__box">

    <div class="layout__boxHeader">
         <div class="layout__boxTitle">
            <h3>Password Reset Complete</h3>
        </div>
    </div>

    <div class="layout__body__reset">
        <p>Your password has been set. You may go ahead and log in now.</p>
         <a class="btn btn--main" href="{%url 'login'%}" style="margin-top: 2rem;">
                <img src="{%static 'images/unlock.svg'%}" style="width: 20px;">

                Login
        </a>
    </div>
</div>

{% endblock %}