{% extends 'main/base.html' %}


{% block content %}

<div class="auth layout__box">

    <div class="layout__boxHeader">
         <div class="layout__boxTitle">
            <h3>Enter New Password</h3>
        </div>
    </div>

    <div class="layout__body__reset">
        <p>Please enter your new password twice so we can verify you typed in correctly.</p>

        <div style="text-align: left; margin-top: 3rem;">
            <form class="form" action="" method="post">
                {%csrf_token%}
                {%for field in form%}
                <div class="form__group">
                    <label for="profile_pic">{{field.label}}</label>
                    {{field}}
                    {{field.errors}}
                </div>
                {%endfor%}


                <div class="form__action">
                    <button class="btn btn--main" type="submit">Change my password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}